workflow-reddit-monitor.json
{
  "name": "LogicMinimizer - Reddit Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "schedule1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.reddit.com/r/{{$json.subreddit}}/new.json?limit=10",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "http1",
      "name": "Fetch Reddit Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const subreddits = ['EngineeringStudents','ECE','computerscience','learnprogramming','FPGA','electronics','AskEngineers','HomeworkHelp','PLC','arduino'];\nconst items = [];\nfor (const sub of subreddits) {\n  items.push({json: {subreddit: sub}});\n}\nreturn items;"
      },
      "id": "code1",
      "name": "Generate Subreddits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const keywords = ['boolean','karnaugh','truth table','binary','logic gate','flip flop','complement','ieee 754','gray code','hamming','BCD','multiplexer','NAND','adder','bitwise','checksum','CRC','PWM','resistor','digital logic','combinational','sequential','simplify','minimize'];\nconst toolMap = {'boolean':'index.html','karnaugh':'karnaugh.html','truth table':'truthtable.html','binary':'binary.html','logic gate':'circuit.html','flip flop':'flipflop.html','complement':'twoscomplement.html','ieee 754':'ieee754.html','gray code':'graycode.html','hamming':'hamming.html','BCD':'bcd.html','multiplexer':'mux.html','NAND':'nandonly.html','adder':'adder.html','bitwise':'bitwise.html','checksum':'checksum.html','CRC':'checksum.html','PWM':'pwm.html','resistor':'resistor.html','digital logic':'index.html','combinational':'circuit.html','sequential':'flipflop.html','simplify':'index.html','minimize':'karnaugh.html'};\n\nconst posts = $input.all();\nconst results = [];\nfor (const item of posts) {\n  try {\n    const children = item.json.data?.children || [];\n    for (const child of children) {\n      const title = (child.data?.title || '').toLowerCase();\n      const url = 'https://reddit.com' + (child.data?.permalink || '');\n      const sub = child.data?.subreddit || '';\n      const matched = keywords.filter(k => title.includes(k.toLowerCase()));\n      if (matched.length > 0) {\n        const tool = toolMap[matched[0]] || 'index.html';\n        results.push({json: {subreddit: sub, title: child.data?.title, url: url, keywords: matched.join(', '), tool: 'https://logic1min.me/logicminimizer/' + tool}});\n      }\n    }\n  } catch(e) {}\n}\nreturn results.length > 0 ? results : [{json: {skip: true}}];"
      },
      "id": "code2",
      "name": "Filter Relevant Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{$json.skip}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            }
          ]
        }
      },
      "id": "if1",
      "name": "Has Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst msg = `🔔 Nouveau post pertinent !\\n\\nSub: r/${item.subreddit}\\nTitre: ${item.title}\\nLien: ${item.url}\\nMots-clés: ${item.keywords}\\n\\n💡 Réponse suggérée:\\n\"Check out ${item.tool} — it does exactly this for free.\"`;\nreturn [{json: {message: msg}}];"
      },
      "id": "code3",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "={{$json.message}}",
        "additionalFields": {}
      },
      "id": "telegram1",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1450,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Generate Subreddits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Subreddits": {
      "main": [
        [
          {
            "node": "Fetch Reddit Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Reddit Posts": {
      "main": [
        [
          {
            "node": "Filter Relevant Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Relevant Posts": {
      "main": [
        [
          {
            "node": "Has Results?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Results?": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
